@import '../shared/helper';

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #010310;
  color: #d7e8ff;
  > header {
    height: px(102);
    background-size: cover;
    width: px(2420);
    margin: 0 auto;
    > h1 {
      font-weight: 600;
      line-height: px(44);
      font-size: px(44);
      text-align: center;
      margin-top: px(20);
      background-image: linear-gradient(180deg, #b2d6f6, #00f5ff);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
    > span {
      display: inline-block;
      margin-top: px(8);
      font-size: px(30);
      color: #ffe400;
      margin-left: px(1420);
      transform: scale(0.5);
      transform-origin: left top;
    }
  }
  > footer {
    color: #2f59ad;
    height: px(68);
    border: 1px solid #0d2d59;
    margin: px(20) 0 1px;
    border-radius: 4px;
    background: #0c0d2b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: px(18);
  }
  > main {
    width: px(2420);
    margin: 0 auto;
    padding-top: px(27);
    flex: 1;
    display: grid;
    grid-template:
      'box1 box2 box4 box5' 755fr
      'box3 box3 box4 box5' 363fr / 366fr 361fr 811fr 747fr;
    gap: px(28);
    .bordered {
      border: 1px solid #0764bc;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
      background: #0f113a;

      &::before {
        pointer-events: none;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 4px;
        box-shadow: 17px 0 0 -16px #0e325f, -17px 0 0 -16px #0e325f,
          0 17px 0 -16px #0e325f, 0 -17px 0 -16px #0e325f, 9px 0 0 -8px #0d4483,
          -9px 0 0 -8px #0d4483, 0 9px 0 -8px #0d4483, 0 -9px 0 -8px #0d4483;
      }
    }
    > .section1 {
      grid-area: box1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    > .section2 {
      grid-area: box2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    > .section3 {
      grid-area: box3;
    }
    > .section4 {
      grid-area: box4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    > .section5 {
      grid-area: box5;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > .row1 {
        height: px(317);
      }
      > .row2 {
        height: px(317);
      }
      > .row3 {
        height: px(455);
      }
    }

    .管辖统计,
    .破获排名,
    .发案趋势,
    .案发时段,
    .战果,
    .籍贯,
    .年龄段,
    .案发类型,
    .案发街道,
    .作案手段 {
      height: px(315);
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        flex-shrink: 0;
        border: 1px solid #0a5299;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: px(22);
        line-height: px(24);
        padding: px(10) px(28);
        text-shadow: 0 0 px(3) white;
      }

      .charts {
        display: flex;
        flex: 1;
        width: 100%;

        .chart {
          flex: 1;
          position: relative;

          .main {
            height: 100%;
            z-index: 10;
          }

          .ring {
            position: absolute;
            left: 50%;
            top: 42%;
            transform: translate(-50%, -50%);
            width: px(200);
            height: px(200);
            border: 1px solid #2c82cd;
            border-radius: 50%;

            &5,
            &4,
            &3,
            &2,
            &1 {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              border-radius: 50%;
              border: 1px dashed #0b5a9d;
            }

            &5 {
              width: px(170);
              height: px(170);
            }

            &4 {
              width: px(140);
              height: px(140);
            }

            &3 {
              width: px(110);
              height: px(110);
            }

            &2 {
              width: px(80);
              height: px(80);
            }

            &1 {
              width: px(47);
              height: px(47);
              border: 3px solid #63c9ff;
              box-shadow: 0 0 px(6) #33a4fa, inset 0 0 px(6) #33a4fa;
            }
          }
        }
      }
      .chart {
        flex: 1;
        width: 100%;
      }
    }

    .破获排名 {
      height: px(423);
    }

    .发案趋势,
    .案发时段 {
      height: px(365);
    }

    .年龄段 {
      display: flex;
      flex-direction: column;
      height: px(363);
      > .charts {
        width: 100%;
        flex: 1;
        display: flex;
        padding-bottom: px(8);
      }
      &-图1,
      &-图2,
      &-图3 {
        flex: 1;
        display: flex;
      }

      &-图1,
      &-图2 {
        .chart {
          position: relative;
          display: flex;

          > .main {
            flex: 1;
            z-index: 1;
          }
          > .text {
            position: absolute;
            width: px(180);
            height: px(180);
            display: flex;
            justify-content: center;
            align-items: center;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #33a4fa;
            font-size: px(26);
            text-shadow: 0 0 px(16) #33a4fa;
            font-weight: 600;
            border-radius: 50%;
            border: 1px solid #2c82cd;
          }
        }
      }

      &-图3 {
        border: 1px solid #08397d;
        flex-direction: column;
        margin: px(20);
        h3 {
          font-size: px(20);
          color: #7ab6db;
          margin-top: px(6);
          text-align: center;
        }
      }
    }

    .战果,
    .作案手段 {
      overflow: hidden;
      table {
        margin-top: px(38);
        border-collapse: collapse;
        th,
        td {
          text-align: center;
          font-size: px(16);
          border: 1px solid #1a3671;
        }
        thead {
          th {
            height: px(70);
            box-shadow: inset 0 0 px(60) 0 #1f3d85;
          }
        }
        tbody {
          td {
            cursor: pointer;
            height: px(50);
            width: px(88);
            background: #1c2456;
            animation: rotateX 4s 1s infinite ease-in-out;
          }
        }
      }
    }

    @keyframes rotateX {
      0% {
        transform: rotateX(0deg);
      }
      75% {
        transform: rotateX(0deg);
      }
      100% {
        transform: rotateX(360deg);
      }
    }

    .作案手段 {
      table {
        margin-top: px(28);
        thead {
          th {
            height: px(50);
          }
        }
        tbody {
          td {
            font-size: px(12);
            height: px(29);
            width: px(170);
          }
        }
      }
    }

    .籍贯 {
      position: relative;
      height: px(753);
      background: rgba(15, 17, 58, 0.5);
      > .note {
        padding: px(6) px(10);
        background: transparent;
        position: absolute;
        bottom: px(20);
        right: px(20);
        display: flex;
        flex-direction: column;
        align-items: center;
        span:nth-of-type(1) {
          font-size: px(24);
        }
        span:nth-of-type(2) {
          font-size: px(10);
        }
      }

      > .scan-animation {
        position: absolute;
        bottom: px(20);
        left: px(24);
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: px(10);
        > span {
          font-size: px(4);
          color: #a1d1f1;
        }
        > .ring {
          border: 1px solid #0c2939;
          width: px(96);
          height: px(96);
          border-bottom: none;
          border-radius: 50%;
          overflow: hidden;
          animation: spin infinite 5s linear;
          > .radar {
            border: 2px solid #103142;
            position: absolute;
            width: px(81);
            height: px(81);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: px(42);
              height: px(42);
              border: 2px solid #082132;
              border-radius: 50%;
            }
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              width: px(3);
              height: px(36);
              z-index: 1;
              background: #007cc0;
              border-radius: 50%;
              box-shadow: 0 0 5px 1px #0094e4, -3px -10px 5px 1px #0094e4,
                -7px -15px 10px 1px #0094e4, -3px -3px 10px 1px #0094e4,
                -7px -7px 20px 1px #0094e4, -11px -11px 30px 1px #0094e4,
                -11px -11px 40px 1px #0094e4, -11px -11px 30px 1px #0094e4,
                -11px -11px 30px 1px #0094e4;
            }
          }
        }
        @keyframes spin {
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
